<?php

$finder = PhpCsFixer\Finder::create()
    ->exclude('app/Resources/report')
    ->exclude('bin')
    ->exclude('var')
    ->exclude('vendor')
    ->exclude('web')
    ->in(__DIR__)
;

return PhpCsFixer\Config::create()
    ->setRules([
        '@PSR2' => true,
    ])
    ->setFinder($finder)
;
