parameters:
    database_host:     mariadb
    database_port:     3306
    database_name:     todo_list
    database_user:     todo_list
    database_password: todo_list

    # A secret key that's used to generate certain security-related tokens
    secret:            ThisTokenIsNotSoSecretChangeIt